html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* FOR NAV */
#logo {
  width: 10%;
  height: 10%;
  margin-right:auto;
}

/* Mobile breakpoint */
@media (max-width: 600px) {
  #logo {
    width: 40%;  /* bigger on mobile */
    height: auto;
    display: block;
    margin: 0 auto; /* center logo on mobile */
  }
}
nav {
    position: sticky; top: 0;
    display: flex;
    align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding-right: 10px;  /* add px */
}

main {
  flex: 1;  /* pushes footer + pluge to bottom */
}

/* FOOTER */
footer {
  width: 100%;
  padding: 10px 0;
}

/* FOOTER MENU */
footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;          /* allow items to wrap */
  justify-content: center;  /* center items */
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

footer li {
  flex: 1 1 45%; /* takes ~45% of width each, 2 per row on small screens */
  text-align: center;
}

/* Large screens: items in one row */
@media (min-width: 600px) {
  footer li {
    flex: unset;
    width: auto;
  }
}

/* FOR DONATE */
.donate-container {
  display: flex;
}

#donate-box {
  width: 100%;
  max-width: 800px;
  align-items: center;
  font-family: sans-serif;
  font-size: large;
}

#donate-box h1 {
  text-align: center;
  margin-bottom: 30px; /* space between h1 and boxes */
}

.box {
  flex: 1;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
}

@media (max-width: 780px) {
  .donate-container {
    flex-direction: column;
  }
}

#mission-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

#mission-text {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
}


.swag-images a {
    display: flex;             /* line images in a row */
    justify-content: center;   /* center the row */
    gap: 10px;                 /* space between images */
    flex-wrap: wrap;           /* wrap on small screens */
}

.swag-img {
    width: 100px;   /* small images */
    height: auto;   /* maintain aspect ratio */
}