#logo {
  width: 100px;
  height: auto;
  margin-right:auto;
}

nav {
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
    background-color: white; /* LightCyan */
    display: flex;
}

nav ul {
  list-style: none; /* Removes bullet points */
  display: inline-block; /* Or display: inline; */
  margin-right: 20px; /* Adds spacing between items */
}
